<div class="order">
    <h2>Order Medicine Now.</h2>
    <mat-form-field appearance="fill">
        <mat-label>id</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>
    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary">Order</button>
        </div>
    </section>
</div>